/*css reset*/
* {
  margin: 0;
  padding: 0;
}
/*page formatting*/
html {
  background-color: #3E5C59;
  height: 100%;
  color: black;
  font-weight: lighter;
}
body{
  height: 100%;
  font-family: 'Karla', sans-serif;
}
/*css grid*/
.grid {
  display: grid;
  margin-top: 10px;
  font-family: 'Muli', sans-serif;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    ". sec1 sec1 sec1 ."
    ". sec2 sec2 sec2 ."
    ". sec3 sec3 sec3 ."
    ". sec4 sec4 sec4 ."
    ". sec5 sec5 sec5 ."
    ". sec6 sec6 sec6 ."
    ". sec7 sec7 sec7 ."
    ". sec8 sec8 sec8 ."
    "sec9 sec9 sec9 sec9 sec9"
}
.navigation {
  font-family: 'Karla', sans-serif;
  background-color: lightblue;
  font-size: 1.1em;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.navigation a {
  text-decoration: none;
  color: black;
  margin-right: 2.3px;
}
.navigation #title {
  display: inline-block;
  border-right: 2px solid black;
  padding-left: 5px;
  padding-right: 2px;
  font-size: 1.5em;
  margin: 0;
}
label {
  display: block;
  cursor: pointer;
  width: 30px;
  float: right;
  font-size: 1.6em;
  margin-right: 3px;
  margin-top: -5px;
  user-select: none;
}
.menu {
  text-align: left;
  width: 100%;
  display: none;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.menu a {
  display: block;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
  border-bottom: 1px grey solid;
}
.menu a:hover {
  background-color: #afced8;
}
#toggle {
  display: none;
}
#toggle:checked + .menu {
  display: block;
  border-top: 1px solid black;
}

/*additional styling*/
.sec1 img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.sec1 {
  margin-top: 0;
  padding-bottom: 0;
}
.sec2 {
  background-color: lightblue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-top: -5px;
  padding: 10px;
}
#desc {
  text-align: center;
  padding: 0;
}
footer {
  background-color: lightblue;
  text-align: center;
  font-size: 0.8em;
}
footer p {
  font-size: 1em;
  padding-left: 25px;
  padding-right: 20px;
  margin-bottom: 10px;
}
.sec2 {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

/*global styling*/
.sec2 h1 {
  font-size: 1.9em;
  font-weight: lighter;
  text-align: center;
}
.sec2 h2 {
  font-weight: lighter;
  margin-top: 25px;
  text-align: left;
  padding-left: 3px;
}
.sec2 p {
  padding-left: 18px;
  padding-right: 8px;
  margin-top: 7px;
  font-size: 1em;
}

/*css grid decleration*/
.sec1 {
  grid-area: sec1;
}
.sec2 {
  grid-area: sec2;
}
footer {
  grid-area: sec9;
}
